<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        H1{
            margin-top: 250px;
            font-size: 50px;
            color: green;
            display: flex;
            align-items: center;
            justify-content: center;

        }
        h2{
            font-size: 50px;
            color: green;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    </style>
</head>
<body>
    <h1>
        You are successfully logined {{email}}
    </h1>
    <h2>You can access your account now!!</h2>
</body>
</html>
